<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="container">
    <div class="row panel panel-default">
        <div class="col-sm-2">
          
        <div class="row col-sm-2">
          <div class="col-xs-12">Name</div>
          <div class="col-xs-12">Point</div>
          <div class="col-xs-12">Rank</div>
        </div>
        </div>
        <div class="col-sm-10">
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A2</div>
          <div class="col-xs-3">A2</div>
        </div>
        <div class="col-sm-10">
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A2</div>
          <div class="col-xs-3">A2</div>
        </div>
        <div class="col-sm-10">
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A2</div>
          <div class="col-xs-3">A2</div>
        </div>
        <div class="col-sm-10">
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A1</div>
          <div class="col-xs-3">A2</div>
          <div class="col-xs-3">A2</div>
        </div>
    </div>
</div>