<div class="center jumbotron">
  <h1>Welcome to the worldcup bookmaker</h1>

  <h2>
    This is the home page for the
    <a href="http://www.fifa.com/worldcup/index.html">worldcup more interisting</a>
  </h2>

</div>

<table>
  
</table>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>