
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Test
        </th>
        <th>
            Test2
        </th>
    </tr>
    <tbody>
        <% @country.names.each do |name| %>
          <tr>
            <td><%= name %></td>
          </tr>
        <% end %>
    </tbody>
</table>