<% provide(:title, "Rule") %>
<div class="row panel">
<p>  
強いと思う国の順番に1～32を振って下さい。<br>
<br>
例えばあなたがブラジルに32ポイントを割り振り、勝ち点3を得たとします。32×3=96ポイントをゲットです。<br>
これを全参加チーム分の結果を予想し最適な点数を割り振って総合ポイントが最も多い人が優勝です<br>
<br>
常にひいきのチームがあります。つまり全ゲームが楽しみになります。<br>
このイベントに参加ししてワールドカップを思いっきり楽しみましょう！</a>
</p>
<br>

<p>
Put 1 to 32 points to each countries.<br>
*Example*<br>
You point 32 to Brazil, and Brazil get win point 3.<br>
32×3=96 then You get 96 point.<br>

You predict the results of all the teams and allocate the best points.<br>
The winner is who earned the most points.<br>
<br>
You have always a patronizing team.<br>
All games are fun.<br>
You can enjoy all of the games!</a>
</div>