<% provide(:title, "Log in") %>
<h1 class="login_page_char">Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session,url:login_path) do |f| %>
    <%= f.label :name, class: "login_page_char" %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :password, class: "login_page_char" %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span class="login_page_char">Remember me on this computer</span>
    <% end %>
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p class="login_page_char">New user ? 
      <%= link_to "Sign up Now!", signup_path %>
    </p>
  </div>
</div>