<%= form_for(@winpoint,url: yield(:url)) do |f| %>
    <% @country.names.each do |name| %>
    <div class="col-md-3">
        <%= label_tag :names, name %>
        <% if @points.has_key? name %>
            <%= number_field_tag "win_point", value = @points[name], min: 0, class: 'form-control', name: name %> 
        <% else %>
            <%= number_field_tag "win_point", value = 0, min: 0, class: 'form-control', name: name %> 
        <% end %>
    </div>
    <% end %>
    <%= f.submit yield(:button_text), class: "btn btn-primary", method: :post %>
<% end %>
