<% provide(:title, "update") %>
<% provide(:url, winpoint_path) %>
<% provide(:button_text, "update") %>
<h1>Winpoint</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>