<%= form_for(@betting,url: yield(:url)) do |f| %>
    <% @country.names.each do |name| %>
    <div class="col-md-3">
        <%= f.label :names, name %>
        <% if @points.has_key? name %>
            <%= f.number_field "bet", :value => @points[name], min: 0, max: 32, class: 'form-control', name: name %> 
        <% else %>
            <%= f.number_field "bet", :value => 0, min: 0, max: 32, class: 'form-control', name: name %> 
        <% end %>
    </div>
    <% end %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
