<% provide(:title, "betting") %>
<% provide(:url, betting_path) %>
<% provide(:button_text, "betting") %>
<h1>Betting</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>