<%= form_for(@user,url: yield(:url)) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :group_id, class: "login_page_char"  %>
  <%= f.collection_select :group_id, Group.all, :id, :name, {:include_blank => true}, {class: 'form-control'} %>

  <%= f.label :name, class: "login_page_char"  %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :password, class: "login_page_char"  %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, class: "login_page_char"  %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>