<% provide(:title, 'Sign up') %>
<% provide(:url, signup_path) %>
<% provide(:button_text, "Sign up now!") %>
<h1 class="login_page_char">Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>