<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <table class="table table-hover table-headerfixed table-striped">
          <thead>
        <tr>
            <th class="text-center col-xs-3">
                Country
            </th>
            <th class="text-center col-xs-3">
                Bet
            </th>
            <th class="text-center col-xs-3">
                Winpoint
            </th>
            <th class="text-center col-xs-3">
                total
            </th>
        </tr>
          </thead>
          <tbody>
            <% @country.names.each do |name| %>
            
              <tr>
                <td class="text-center col-xs-3"><%= name %></td>
                <td class="text-center col-xs-3"><%= @betting[name] %></td>
                <td class="text-center col-xs-3"><%= @winpoints[name] %></td>
                <td class="text-center col-xs-3"><%= @subtotal[name] %></td>
              </tr>
            <% end %>
            <tr>
                <td class="text-center col-xs-3">total</td>
                <td class="text-center col-xs-3">-</td>
                <td class="text-center col-xs-3">-</td>
                <td class="text-center col-xs-3"><%= @total %></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>