<div class="container">
  <div class="panel">
    <table class="table table-bordered table-hover table-striped table-headerfixed">
      <thead>
      <tr>
      <th width="200" colspan="2"></th>
      <% @users.each do |user| %>
      <th width="100" class="text-center">
        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <%= user.name %>
        </div>
      </th>
      <% end %>
      </tr>
      <tr>
      <th width="150">Country name</th>
      <th width="50" >point</th>
      <% @users.each do |user| %>
      <th width="100"class="text-center">
        <%= @sum_hash[user.name] %>
      </th>
      <% end %>
      <thead>
      <tbody>
        <% @country.names.each do |name| %>
        <tr>
        <td width="150">
          <%= name %>
        </td>
        <td width="50" class="text-center">
          <%= @win_point[name] %>
        </td>
        <% @users.each do |user| %>
        <td width="100" class="text-center">
          <%= @user_betting_hash[user.name][name] %>
        </td>
        <% end %>
        </tr>
        <% end %>
        <% @users.each do |user| %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>