<div class="container">
  <div class="row">
    <div class="panel col-md-offset-3">
      <table class="table table-hover table-headerfixed table-striped ui_h">
        <thead>
          <tr class="ui_h">
            <th class="text-center col-xs-1">Rank</th>
            <th class="text-center col-xs-2">Name</th>
            <th class="text-center col-xs-1">Point</th>
            <th class="text-center col-xs-1">Diffs</th>
            <th class="text-center col-xs-2">To the top</th>
          </tr>
        </thead>
        <tbody>
          <% @ranking_list.each do |rank_hash| %>
          <tr>
            <td class="text-center col-xs-1">
              <%= what_is_rank(@ranking_list,rank_hash) %>
            </td>
            <td class="text-center col-xs-2">
              <%= rank_hash["name"] %>
            </td>
            <td class="text-center col-xs-1">
              <%= rank_hash["point"] %>
            </td>
            <td class="text-center col-xs-1">
              <%= rank_hash["diffs"] %>
            </td>
            <td class="text-center col-xs-2">
              <%= rank_hash["to_the_top"] %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>