<footer id="footer" class="footer ">
  <small>
    The Worldcup bookmaker</a>
    by Hiroki Ui</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>