<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <%= render 'layouts/header' %>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <% if message_type != "user_id" %>
          <%= content_tag(:div, message,class: "alert alert-#{message_type}") %>
        <% end %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>