<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="./footerFixed.js"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="jumbotron">
      <div class="container">
        <% flash.each do |message_type, message| %>
        <% if message_type != "user_id" %>
        <%= content_tag(:div, message,class: "alert alert-#{message_type}") %>
        <% end %>
        <% end %>
        <%= yield %>
        <footer id="footer" class="footer"></footer>
      </div>
    </body>
  </div>
</html>